{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/uppy.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.steps.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/quill.snow.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme" disabled>
    <link rel="stylesheet" href="{% static 'css/app-dark.css' %}" id="darkTheme">
    <style>
      *{
        overflow: hidden;

      }
    </style>
  </head>
  <body >
        <div class="row align-items-center h-100 m-2">
          <div class="col-lg-6 col-sm-3 d-none d-lg-flex justify-content-center align-items-center">
            <img class="mt-5" src="{% static 'assets/banner/login2.png' %}" alt="logo" style="max-width: 85%; height: auto;">
            </div>
        
            <div class="col-lg-6">
                <div class="w-50 mx-auto"> 
                      <form method="post" class="mx-auto text-center">
                        {% csrf_token %}
                    <h1 class="h1 mb-3 mt-3">Sign in</h1>
                      <div class="form-group">
                        <label for="UserName" class="sr-only">Username</label>
                        <input type="text" name="username" id="UserName" class="form-control form-control-lg" placeholder="Enter Username" required="" autofocus="">
                      </div>
                      <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password" required="">
                      </div>

                      <div class="row">
                      <div class="checkbox mb-3 col-md-6">
                        <label>
                          <input type="checkbox" value="remember-me"> Stay logged in </label>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label><a href="#">Forgot password</a></label>
                      </div>

                    </div>

                      <button class="btn btn-lg btn-primary btn-block" type="submit">Let me in</button>
                      </form>
                        <br>
                        <div class="d-flex justify-content-end">
                          <a href="/register" class="btn btn-secondary" type="submit">Register</a>
                      </div>
                      
                     
                      <div class="link">
                        
                      <div class="row px-3 mb-4 text-center">
                        <div class="line" style="width: 100%; border-top: 1px solid #abafb3; margin: 20px 0;">
                          <small class="text-center">Or</small>
                        </div>
                      </div>
              
                      <h6 class="h5  text-center">Sign in with</h6>
                    <div class="row text-center">
                        <div class="text-center col-lg-12 col-md-6">
                              <div class="row.1 icons text-center ">
                                <img class="img-fluid m-3" src="{% static 'icon/google.png' %}" alt="Google Link" style="width: 30px; margin: 10px;">
                        
                                <img class="img-fluid m-3" src="{% static 'icon/twitter.png' %}" alt="Twitter"style="width: 30px;  margin: 10px;">
                        
                                <img class="img-fluid m-3" src="{% static 'icon/linkedin.png' %}" alt="Linkedin" style="width: 30px;  margin: 10px;">
                            </div>
                          </div>
                       </div>
                    </div>
                 </div> <!-- .card -->
          </div> <!-- ./col -->
        </div> <!-- .row -->
      {% include 'script.html' %}
  </body>
</html>